body {
  font-family: Arial, Helvetica, sans-serif;
}

.hotels-header h2 {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  margin-block-end: 0.1em;
  border-radius: 50px;
}

h5 {
  text-align: center;
  text-decoration: underline;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.hotels-body {
  margin: auto;
  max-width: 90%;
  cursor: pointer;
}

.hotel-item {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  font-size: 20px;
}

.hotel-name-container {
  max-width: 300px;
}

.hotel-name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;

}

.hotel-description-container {
  padding-top: 10px;
  max-width: 300px;
}

.hotel-description {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Edu QLD Beginner', cursive;
}

.hotel-telephone-container {
  max-width: 250px;
}

.hotel-telephone {
  font-size: 15px;
  font-weight: 700;
}

/*Como hago las estrellas más grandes*/
.stars {
  max-width: 100px;
}

/* Este codigo es para crear una transcición de color por encima del texto 
pero no me funciona si no hay texto ejemplo https://developer.mozilla.org/es/docs/Web/CSS/:hover
.a {
  background-color: black;
  transition: background-color .5s;
}

.a:hover {
  background-color: grey;
}
*/

a {
  padding: 10;
  outline: none;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 3;
  color: black;
  margin-bottom: 8px;
  border-radius: 6px;
}

a:link,
a:visited,
a:focus {
  background: black;
  color: white;
}

/* Efecto cambiar de color cuando pasa el mouse 
Importante que significa poner etiqueta y : a: 
en contraposición con a.*/
a:hover {
  background: white;
  color: black;
}

a:active {
  background: grey;
  color: white;
}

.click {
  width: 40px;
  vertical-align: middle;
}

.cajagrande {
  margin-top: 30px;

}

.parejascaja {
  background: lightblue;
  width: 50%;
  border-radius: 20px;
  display: flex;
}

h4 {
  text-align: center;
  padding: 13px;
}

.imagenes1 {
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -20px;
  margin-left: -5px;
  margin-right: 76px;
}

.foto1 {
  width: 50%;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgb(0 0 0 / 50%);
  cursor: pointer;
  margin: 20px;
  padding: 2px;
  display: inline-block;
  text-align: center;
}

/* Aquí queria crear un efecto de superopición entre la imagen de fondo de la playa
y el texto de Playa, lorem. el problema que no conseguía crear una capa de veledura que fuera
la transición entre ambos elementos como he creado en familia */
.capa {
  width: 20%;
  height: 100%;
  position: absolute;
  text-align: center;
  transform: translate(12.5%, 10%);
  color: white;
}

.parrafo {
  font-size: smaller;

}

.imagenes2 {
  overflow: hidden;
  position: relative;
  display: flex;
  margin: 0 5px 5px 5px;

}

.foto2 {
  width: 100%;
  height: 100%;
  margin: 0 0px 5px 0px;
  border-radius: 20px;
  cursor: pointer;
}

.Cajafamilia {
  background: lightblue;
  border-radius: 20px;
  margin-top: 20px;
  width: 50%;
  box-shadow: 0px 15px 25px rgb(0 0 0 / 50%);
  margin-bottom: 40px;
}

.Familia {
  text-align: center;
  padding: 20px;
  margin-bottom: -29px;
}

.fotofamilia {
   width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
 }

figure {
  position: relative;
}

figcaption {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0,0,0,.7);
  text-align: center;
  padding: 50px;
  /* como hago para que el texto baje más y se ponga en el centro 
  no puedo aumentar el padding sino se contrae demasiado el texto */
  font: 20px/30px Verdana;
  color: white;
  cursor: pointer;
}

figure:hover figcaption{
  display: block;
}

.campamento {
  width: 100%;
  height: 100%;
}

.crucero {
  width: 100%;
  height: 100%;
}

.caravana {
  width: 100%;
  height: 100%;
}


.footer {
  padding: 30px;
  text-align: center;

}

.logo-spain {
  width: 100px;
}

/* Quiero hacer el texto responsive y que vaya cambiando segun la web
Creo que es así, pero no consigo que se aplique
@media (max-width: 600px){
      font-size: 12px;
  }
*/

.correo {
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.formulario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titulosformulario {
  text-decoration: underline;
  font-weight: 900;
}

.enviar {
  font-weight: 900;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button{
  box-shadow: 2px 2px 1px rgb(0 0 0 / 50%);
}